<%#
  trip is an array of 3 destinations
  we want to display index 0
  we want to hide index 1, 2 but keep them at hand if user click on Suggest Another
%>
<div class="reunion-show-banner-suggested">
  <div class="container" >
    <h1 class="h1-show-reunion"><%= @reunion.name %></h1>
    <h2><%= @reunion.description %></h2>
  </div>
</div>

<div class ="text-paragraph">
  <h3>Based on each of your crew member, we selected a city accessible to everyone!</h3>

</div>
<div class="d-flex justify-content-center" data-controller="display-destination">

  <%#= render "side_panel", user: current_user, reunion: @reunion %>
  
  <div class="card-trip m-1">
    <% @trips.each do |trip| %>
      <div class="d-none" data-display-destination-target="card">
        <div>
          <% destination = trip['destination'] %>
          <div class="image-destination" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/1000×250/?<%=destination['name']%>%20landmark)">
            <div class="text-white">
              We suggest going to
              <br>
              <h2><strong><%=destination['name']%><%= ', ' %> <%=destination['country']%></strong></h2>
            </div>
          </div>
        </div>
        <div class="card-trip-infos">
          <%# =destinations['code']%>
          <% trip['trips'].each_with_index do |trip, index| %>
            <div class="suggested-destination-card-category m-2" >
              <h3 class="summary-text">
                <% if index == 0 %>
                  <%= cl_image_tag @reunion.user.photo.key, class: "participants_picture" %> from <strong> <%= trip['origin']['city']['name'] %></strong>
                <% else %>
                  <%= cl_image_tag @reunion.participations[index -1].user.photo.key, class: "participants_picture" %> from <strong class="style=margin-left:12px;"> <%= trip['origin']['city']['name'] %></strong>
                <% end %>
                <%# <%= trip['destination']['city']['name'] %>
              </h3>
              <p class="summary-text">
                <i class="fa-solid fa-euro-sign"></i><%= trip['bestPrice']%>€
              </p>
              <p class="summary-text">
                <i class="fa-solid fa-plane-departure"></i><%= format_date_with_time(trip['departureTime']) %>
              </p>
              <p class="summary-text">
                <i class="fa-solid fa-plane-arrival"></i> <%= format_date_with_time(trip['arrivalTime']) %>
              </p>
              <p class="summary-text">
                <% totaltime = (trip['duration'].to_i)
                hours = (totaltime / 60)
                minutes = (totaltime % 60) %>
                <i class="fa-solid fa-clock"></i><%= "#{hours}h #{minutes}min" %>
              </p>
              <p class="summary-text">
                <%= link_to "Book", "#", class: "btn-3" %>
              </p>
            </div>
          <% end %>
        </div>
        <div class="suggested-destination-button">
          <h3 class="home-page-text price-text">Total price for your group: <%=trip['totalPrice']%>€</h3>
          <button class="btn-notify" data-action="click->display-destination#nextCard">See another suggestion</button>
        </div>
      </div>
    <%end%>
  </div>
</div>
