
<div class="reunion-sum-banner">
   <h1>Reunion Summary</h1>
</div>

<div class="title-destination">
<h3>Destinations</h3>
</div>

<div class="destination-info">
      <div class="destination-option1">
        <h4>Option 1</h4>
        <p>Lisbon</p>
      </div>
      <div class="destination-option2">
        <h4>Option 2</h4>
        <p>Norway</p>
      </div>
      <div class="destination-option3">
        <h4>Option 3</h4>
        <p>Paris</p>
      </div>


<article class="participants">
    <h1 class="participants_title"><span class="participants-bottom">REUNION CREW</span></h1>
  </header>
  <main class="participants_profiles">
    <article class="participants_profile">
      <%= image_tag "pierre.jpg", class: "participants_picture" %>
      <span class="participants_name">Pierre</span>
      <span class="participants_value">Organizer<span></span></span>
    </article>
    <article class="participants_profile">
      <%= image_tag "ajush.jpg", class: "participants_picture" %>
      <span class="participants_name">Ajush</span>
      <span class="participants_value">Friend<span></span></span>
    </article>
    <article class="participants_profile">
      <%= image_tag "maria.jpg", class: "participants_picture" %>
      <span class="participants_name">Maria</span>
      <span class="participants_value">Friend<span></span></span>
    </article>
    <article class="participants_profile">
      <%= image_tag "joana.jpg", class: "participants_picture" %>
      <span class="participants_name">Joana</span>
      <span class="participants_value">Friend<span></span></span>
    </article>



<%# <div class="participants">
<p>Pierre</p>
<p>Ajush</p>
<p>Maria</p>
<p>Joana</p>
</div> %>


      <%# <div class="destination">
      <h5>Reunion Crew</h5>
        <p>Pierre</p>
        <p>Maria</p>
        <p>Joana</p>
        <p>Ajush</p>
      </div> %>
    </div>
  </div>
</div>


      <%# <p class="btn-random-destination"> %>
        <%# <%= "Find destination", class: "btn"%>
  </div>
</div>
