<div class="container">
  <h1 style="text-align:center;">Create your reunion</h1>
</div>
<h6 style="font-weight:500; text-align:center; padding-top:40px; padding-bottom:30px;">Name your reunion and add description to your reunion</h6>
<div class="container create-form">
  <%= simple_form_for @reunion do |f|%>
    <%= f.input :name, placeholder: "Give your reunion a name" %>
    <%= f.input :description, placeholder: "Tell us what you plan is" %>
    <div style="display:flex; justify-content: space-between;">
      <%= link_to "Go back", root_path, { :class => "btn-back" } %>
      <%= f.submit :create, class: "btn-notify" %>
    </div>
  <% end %>
</div>
